.header {
  background: linear-gradient(160deg, #ffffff 0%, #ffffff 100%);
  color: #ffffff; /* Dark text color */
  padding: 20px;
  text-align: center;
  font-size: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: relative;
}

.logout-button {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: #d18686; /* Blue color for logout button */
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.logout-button:hover {
  background-color: #ffffff; /* Darker blue for hover effect */
  transform: translateY(-2px);
}
.header-title {
  color: white;
}